<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">
					Place your order
				</h3>
				
			</div>
			<!-- <div>
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first m--hide">
											<span class="m-nav__section-text">
												Quick Actions
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- END: Subheader -->
	<div class="m-content">
		<div class="row">
			<div class="col-md-12">
				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--tab">
					<!-- <div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Place your order
								</h3>
							</div>
						</div>
					</div> -->
					<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
					<!--begin::Form-->
					<form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]='placeorder' (ngSubmit) = "onSubmit()">
						
						<div class="m-portlet__body">
							
							<div class="form-group m-form__group">
								<label for="">
									Pick up date
								</label>
								<input type="date" formControlName='pick_up_date' class="form-control m-input " placeholder="Enter date">
								<div *ngIf="pick_up_date.invalid && (pick_up_date.dirty || pick_up_date.touched)">
									<div class="form-control-feedback text-danger" *ngIf="pick_up_date.errors.required">
										Please Enter Date
									</div>
								</div>
							</div>

							<div class="form-group m-form__group">
									<div class="container">
								<div class="row">
									<div class="form-group">
										<div class="searchable-container">
											<div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
												<div class="info-block block-info clearfix">
													<div class="square-box pull-left">
														<span class="glyphicon glyphicon-tags glyphicon-lg"></span>
													</div>
													<div data-toggle="buttons" class="btn-group bizmoduleselect">
														<label class="btn btn-default">
															<div class="bizcontent">
																<input type="checkbox" formControlName='var_id[]' name="var_id[]" autocomplete="off" value="">
																<span class="glyphicon glyphicon-ok glyphicon-lg"></span>
																<h5>Coffee</h5>
															</div>
														</label>
													</div>
												</div>
											</div>
											<div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
												<div class="info-block block-info clearfix">
													<div class="square-box pull-left">
														<span class="glyphicon glyphicon-tags glyphicon-lg"></span>
													</div>
													<div data-toggle="buttons" class="btn-group bizmoduleselect">
														<label class="btn btn-default">
															<div class="bizcontent">
																<input type="checkbox" formControlName='var_id[]' name="var_id[]" autocomplete="off" value="">
																<span class="glyphicon glyphicon-ok glyphicon-lg"></span>
																<h5>Tea</h5>
															</div>
														</label>
													</div>
												</div>
											</div>
											<div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
												<div class="info-block block-info clearfix">
													<div class="square-box pull-left">
														<span class="glyphicon glyphicon-tags glyphicon-lg"></span>
													</div>
													<div data-toggle="buttons" class="btn-group bizmoduleselect">
														<label class="btn btn-default">
															<div class="bizcontent">
																<input type="checkbox" formControlName='var_id[]' name="var_id[]" autocomplete="off" value="">
																<span class="glyphicon glyphicon-ok glyphicon-lg"></span>
																<h5>Fruit Juice</h5>
															</div>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>

							<div class="form-group m-form__group"> 
								<label for="exampleSelect1">
									Pick up Slot
								</label>
								<select class="form-control m-input m-input--air selectBox" id="exampleSelect1" formControlName='slot'>
								<option value="">
									1
								</option>
								<option>
									2
								</option>
								<option>
									3
								</option>
								<option>
									4
								</option>
								<option>
									5
								</option>
								</select>
								<div class="form-control-feedback" *ngIf="slot.invalid && (slot.dirty || slot.touched)">
									<div class="form-control-feedback text-danger" *ngIf="slot.errors.required">
											Please Select Slot
									</div>	
									
								</div>
							</div>
							<div class="form-group m-form__group">
									<label for="">
										Name
									</label>
									<input type="text" formControlName='name' [(ngModel)]="username" class="form-control m-input" placeholder="Enter name">
									<div class="form-control-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
										<div class="form-control-feedback text-danger" *ngIf="name.errors.required">
												Please Enter Name 
										</div>
										<div class="form-control-feedback text-danger" *ngIf="name.errors.minlength">
											Please enter at least 3 characters.
										</div>	
										<div class="form-control-feedback text-danger" *ngIf="name.errors.pattern">
											Please enter valid name.
										</div>
									</div>
									
		  					</div>
		  					<div class="form-group m-form__group">
									<label for="">
										Mobile No.
									</label>
									<input type="number" formControlName='mobile' [(ngModel)]="usermobile" class="form-control m-input" placeholder="Enter Mobile No." oninput="if(value.length>10)value=value.slice(0,10)">
									<div class="form-control-feedback" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
										<div class="form-control-feedback text-danger" *ngIf="mobile.errors.required">
												Please Mobile No.
										</div>	
										<div class="form-control-feedback text-danger" *ngIf="mobile.errors.minlength">
											Please enter at least 10 characters.
										</div>
									</div>
									 
							</div>
							<div class="form-group m-form__group">
								<label for="exampleTextarea">
									Address
								</label>
								<textarea class="form-control m-input" formControlName='address' [(ngModel)]="useraddress" id="exampleTextarea" rows="3"></textarea>
								<div class="form-control-feedback" *ngIf="address.invalid && (address.dirty || address.touched)">
									<div class="form-control-feedback text-danger" *ngIf="address.errors.required">
											Address Required.
									</div>	
								</div>
								
							</div>
							<div class="form-group m-form__group">
								<label for="">
									Landmark
								</label>
								<input type="text" formControlName='landmark' [(ngModel)]="userlandmark" class="form-control m-input" placeholder="Enter Landmark">
								<div class="form-control-feedback" *ngIf="landmark.invalid && (landmark.dirty || landmark.touched)">
									<div class="form-control-feedback text-danger" *ngIf="landmark.errors.required">
										Landmark Required.
									</div>	
								</div>
							</div>
							<div class="form-group m-form__group">
								<label for="">
									Pincode
								</label>
								<input type="number" formControlName='pincode' [(ngModel)]="userpincode" class="form-control m-input" placeholder="Enter Pincode">
								<div class="form-control-feedback" *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)">
									<div class="form-control-feedback text-danger" *ngIf="pincode.errors.required">
										Pincode Required.
									</div>	
								</div>
								
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
							<div class="m-form__actions">
									<!-- [disabled]="!placeorder.valid" -->
								<button type="submit" class="btn btn-primary"> 
									Submit
								</button>
								<button type="reset" class="btn btn-secondary">
									Cancel
								</button>
							</div>
						</div>
					</form>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
				
			
		</div>
		